extends layout

block title
    | Orders Dashboard

block content
    h1 Orders Dashboard
    
    if orders && orders.length > 0
        table
            thead
                tr
                    th Customer Name
                    th Address
                    th Total Amount
                    th Status
                    th Order Details
            tbody
                each order in orders
                    tr
                        td= order.customerName
                        td= order.address
                        td $#{order.totalAmount.toFixed(2)}
                        td.status-completed= order.status
                        td
                            .card
                                strong Products:
                                each product in order.products
                                    div= `${product.productName} - Quantity: ${product.quantity}`
    else
        .card
            p.text-center No orders found.
            p.text-center Orders placed by customers will appear here.