extends layout

block title
    | Products Dashboard

block content
    .header
        h1 Products Dashboard
        a.button.add-button(href=`/products/add?token=${token}`) Add New Product
    
    if products && products.length > 0
        table
            thead
                tr
                    th Name
                    th Price
                    th Description
                    th Actions
            tbody
                each product in products
                    tr
                        td= product.name
                        td= `$${product.price}`
                        td= product.description
                        td
                            a.button.edit-button(href=`/products/edit/${product._id}?token=${token}`) Edit

    else
        .card
            p.text-center No products found in the database.
            p.text-center Click the "Add New Product" button to create your first product.

